<?xml version="1.0"?>
<robot name="camera_static" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="realsense_static_gazebo" params="prefix:='' ">
    <gazebo reference="${prefix}camera_static_depth_frame">
      <sensor name="cameradepth" type="depth">
        <camera name="camera_static">
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.100</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
    </gazebo>
    <gazebo reference="${prefix}camera_static_color_frame">
      <sensor name="cameracolor" type="camera">
        <camera name="camera_static">
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>RGB_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>1</visualize>
      </sensor>
    </gazebo>
    <gazebo reference="${prefix}camera_static_left_ir_frame">
      <sensor name="cameraired1" type="camera">
        <camera name="camera_static">
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
    </gazebo>
    <gazebo reference="${prefix}camera_static_right_ir_frame">
      <sensor name="cameraired2" type="camera">
        <camera name="camera_static">
          <horizontal_fov>1.57</horizontal_fov>
          <image>
            <width>1280</width>
            <height>720</height>
            <format>L_INT8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.05</stddev>
          </noise>
        </camera>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>0</visualize>
      </sensor>
    </gazebo>
    <gazebo>
      <plugin name="realsense_gazebo_camera" filename="librealsense_gazebo_plugin.so">
        <prefix>camera</prefix>
        <depthUpdateRate>30.0</depthUpdateRate>
        <colorUpdateRate>30.0</colorUpdateRate>
        <infraredUpdateRate>30.0</infraredUpdateRate>
        <depthTopicName>aligned_depth_to_color_static/image_raw_static</depthTopicName>
        <depthCameraInfoTopicName>depth_static/camera_info_static</depthCameraInfoTopicName>
        <colorTopicName>color_static/image_raw_static</colorTopicName>
        <colorCameraInfoTopicName>color_static/camera_info_static</colorCameraInfoTopicName>
        <infrared1TopicName>infra1_static/image_raw_static</infrared1TopicName>
        <infrared1CameraInfoTopicName>infra1_static/camera_info_static</infrared1CameraInfoTopicName>
        <infrared2TopicName>infra2_static/image_raw_static</infrared2TopicName>
        <infrared2CameraInfoTopicName>infra2_static/camera_info_static</infrared2CameraInfoTopicName>
        <colorOpticalframeName>camera_color_optical_frame_static</colorOpticalframeName>
        <depthOpticalframeName>camera_depth_optical_frame_static</depthOpticalframeName>
        <infrared1OpticalframeName>camera_left_ir_optical_frame_static</infrared1OpticalframeName>
        <infrared2OpticalframeName>camera_right_ir_optical_frame_static</infrared2OpticalframeName>
        <rangeMinDepth>0.3</rangeMinDepth>
        <rangeMaxDepth>3.0</rangeMaxDepth>
        <pointCloud>true</pointCloud>
        <pointCloudTopicName>depth_static/color/points</pointCloudTopicName>
        <pointCloudCutoff>0.3</pointCloudCutoff>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>